body {
    font-family: Arial, sans-serif;
    margin: 1;
    padding: 1;
    background-color: #020202;
    color: #ffffff;
    display: flex;
    text-align: left;
    flex-direction: column;
    min-height: 100vh; /* Ensures footer is at the bottom */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 1;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    flex: 1; /* Allows main content to take up available space */
    padding: 20px;
    max-width: 300px;
    margin: 20px auto;
    background-color: #2e2e2e;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #2e2e2e;
}

h1, h2 {
    color: #007bff;
}

p {
    line-height: 1.6;
}
